@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    /*dark grey*/
    --mainColor: #384454;
    /*light grey*/
    --secondaryColor: #D4D3DC;
    /*GOLD */
    --tertiaryColor: #E1A624;
    /*light blue*/
    --MenuBGColor: #317AC1;
    /* light brown */
    --lightBrown: #AD956B;

}

* {
    font-family: 'Lemon', cursive;
    font-size: 16px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

/* NAV BAR ET MAIN STYLE (branche XXX) */


/* SHOP ET STATS STYLE (branche XXX) */


@media screen and (min-width: 390px) {

    main {
        background-image: url(./Assets/Background.png);
        display: flex;
        height: 100vh;
        width: 66dvw;
    }

    #help {
        display: flex;
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        justify-content: center;
    }
}