@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    /*dark grey*/
    --mainColor: #384454;
    /*light grey*/
    --secondaryColor: #D4D3DC;
    /*GOLD */
    --tertiaryColor: #E1A624;
    /*light blue*/
    --MenuBGColor: #317AC1;
    /* light brown */
    --lightBrown: #AD956B;

}

* {
    font-family: 'Lemon', cursive;
    font-size: 16px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
 
}

main {
    background: url(./Assets/BackgroundDesktop.png);
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 69vw;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: clamp(0.5rem, 4vw, 3rem);
}
h2{
    font-size: clamp(1.2rem, 4vw, 3rem);
}

#help {
    display: flex;
    align-self: flex-end;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    position: relative;
    right: 10%;
    top: 5%;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: var(--mainColor);
    display: flex;
    height: 4em;
    border-radius: 20px;
    width: 80%;
    border: solid black;
    align-items: center;
    margin-top: 1.7em;
    justify-content: space-between;
}

.gameName {
    color: white;
    text-shadow: black 10px 2px 10px;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    width: 70%;
}

.fondLogo {
    background-color: var(--secondaryColor);
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
    border-radius: 50%;
    height: 6.5em;
    width: 6.5em;
    position: relative;
    right: 1em;
    box-shadow: 0 0 20px black;
}

.Logo {
    height: 6.6em;
    width: 5.5em;
    position: relative;
    left: 1.1em;
    bottom: 0.4em;
}

/* ROC CLICKER & PICKAXE*/

.pickAndRoc {
    /* cursor: url(./Assets/pickaxeCursor.png), auto; */
    position: relative;
    display: flex;
    top: 26%;
    bottom: 15%;
    height: 35vw;
    width: 66vw;
    justify-content: center;
}

.pickaxe {
    position: absolute;
    height: 17vw;
    left: 22.5vw;
    margin-left: -5vw;
 /*    transform-origin: -70%; */
/*     transform: rotate(90deg); */
    transform: rotate(-45deg);
    transform-origin: -70%;
}
.coingold{
    position: fixed;
    height: 15%;
    width: auto;   
}
.roc {
    height: 25vw;
}
.explose {
    position: fixed;
    height: 12vw;
    margin-top: 5vw;
    left: 30vw;
}
/* FOR ACTIVE PICKAXE AND GOLD*/

/* PICK */
.active {
    transform: rotate(0deg);
    transition: 0.1s;
}
/* active gold */
.on {
    width: 64px;
    animation: bounce 1s forwards;
    transform-origin: center bottom;
}
/* EXPLOSE AND GOLD */
.hidden {
    display: none;
}



button {
    border: black 1px solid;
    margin: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
}
.grid {
    background-color: var(--secondaryColor);
    display: grid;
    border-radius: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
    padding: 1vh;
    width: 100%;
    max-width: 35vh;
    margin: 0 auto;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.shopNav {
    display: flex;
    height: 100vh;
}

/* SHOP ET STATS STYLE (branche XXX) */

.rightMenu {
    display: flex;
    flex-direction: column;
    width: 31vw;
    border: solid 4px black;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--mainColor);
    padding: 10px;
    height: 100%;
}

.stats {
    background-color: var(--secondaryColor);
    border-radius: 15px;
    padding-bottom: 2vh;
    margin-top: auto;
}

.shop {
    background-color: var(--secondaryColor);
    border-radius: 15px;
}

.rules {
    opacity: 0;
    transform: scale(0);
    /* pas besoin de scale a 1 sur rules actif car c'est la valeur de base d'une page internet */
    position: absolute;
    z-index: 1;

}

.rulesActif {
    border: 5px solid black;
    background-color: var(--secondaryColor);
    position: absolute;
    top: 12vw;
    z-index: 1;
    width: 25vw;
    padding: 5vw;
    transition: 0.5s;
    opacity: 1;
}

.croix {
    width: 1vw;
    position: absolute;
    margin: -4vw 1vw 0vw 18vw;
}

.gold {
    background-color: var(--mainColor);
    border-radius: 15px;
    margin: 1vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 1vw;
    justify-content: space-between;
    color: var(--tertiaryColor);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;

}

#userGold {
    font-size: clamp(1rem, 4vw, 2rem);
}

#menuButton {
    display: none;
}

#shopTitle {
    margin-left: 1.1vw;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 2vw;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    -webkit-text-stroke-color: var(--secondaryColor);
    -webkit-text-stroke-width: 0.5px;
    list-style: none;
}

.trésor {
    height: 80%;
    width: auto;
    max-height: 50px;
}

#infos {
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    margin-left: 1.3vw;
}
.item {
    width: 100%;
    height: 100%;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
    background-color: var(--MenuBGColor);
    border-radius: 15px;
}

@media screen and (max-width: 500px) {

    body {
        margin: 0;
    }

    main {
        height: 100;
        width: 100vw;
        background-size: cover;
    }

    nav {
        width: 90%;
    }

    .fondLogo {

        height: 5.5em;
        width: 5.5em;
    }

    .Logo {
        height: 5.5em;
        width: 4.5em;
    }

  .gameName {
        width: 70%;
    }

    #help {
        height: 1em;
        width: 1em;
    }

    /* ROC CLICKER & PICKAXE*/
    .pickAndRoc {
        top: 30%;
        height: 70vw;
        width: 75vw;
        justify-content: center;
    }

    .pickaxe {
        left: 15vw;
        height: 28vw;
    }

    .roc {
        height: 50vw;
    }

    .explose {
        height: 21vw;
        margin-top: 10vw;
        left: 41vw;
    }
    #menuButton {
        display: flex;
        justify-content: center;
        position: absolute;
        border: none;
        box-shadow: none;
        left: 40%;
        height: 26px;
        width: 20%;
        font-size: clamp(1rem, 4vw, 2rem);
        background-color: var(--secondaryColor);
        border-radius: 8px 8px 0 0;
        transition: 0.2s;
    }

    #menuButton:hover {
        transform: scale(1.1);
    }

    .openBtn {
        bottom: 100%
    }

    .closedBtn {
        bottom: 100%
    }

    .rightMenu {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 100%;
        border: solid 0px black;
        border-radius: 15px 15px 0px 0px;
        background-color: var(--mainColor);
        position: absolute;
        transition: 0.4s;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .openMenu {
        top: 20%;
        justify-content: center;

    }

    .closedMenu {
        top: 86%;
        justify-content: flex-start;
    }

    .stats {
        background-color: var(--secondaryColor);
        border-radius: 15px;
        height: 35vh;
        margin-bottom: 1vh;
    }

    .shop {
        background-color: var(--mainColor);
        border-radius: 15px;
        margin: 1vh 0 2vh 0;
        height: 43vh;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }

    .gold {
        background-color: var(--mainColor);
        border-radius: 0 0 0 0;
        margin: 0;
        height: 100%;
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh;
        color: var(--tertiaryColor);
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
    }

    #shopTitle {
        display: none;
    }

    h2 {
        font-size: clamp(1.2rem,6vw, 3rem);
    }

    .trésor {
        width: 100%;
        height: auto;
        margin-top: auto;
    }

   .grid {
    max-width: 500px;
    }
.trésor{
    max-height: 90px;
}
    .item {
        width: 100%;
        height: auto;
    }

    #goldTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.2px;
        color: var(--tertiaryColor);
        background-color: var(--mainColor);
        border-radius: 0 15px 0 0;
        width: 33vw;
    }

    #infos {
        color: white;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.5px;
        margin-left: 2vw;
    }

    ul li {
        -webkit-text-stroke-color: var(--secondaryColor);
        -webkit-text-stroke-width: 0.5px;
        list-style: none;
        font-size: clamp(0.5rem, 4vw, 2rem);
    }

    /* menu Burger */
    .sideNav {
        margin-top: 27vw;
        margin-left: 56vw;
        height: 40vw;
        width: 40vw;
        /* right: -60vw; */
        background-color: transparent;
        position: fixed;
        top: 4vw;
        z-index: 2;
        transition: right 0.5s ease;

    }

    .sideNav a {

        padding: 8px 8px 8px 32px;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        transition: 0.3s;
        background-color: rgba(212, 211, 220, 1);
        padding: 0;
        color: #317AC1;
    }

    .sideNav ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(212, 211, 220, 1);
        box-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
        border-radius: 2vw;
    }

    .sideNav a:hover {
        color: rgba(225, 166, 36, 1);
    }

    .sideNav.active {
        right: 0;
    }

    .sideNav.close {
        position: absolute;
        top: 0;
        right: 5vw;
    }

    .burgerIcone span {
        display: block;
        width: 8vw;
        height: 1vw;
        background-color: rgba(212, 211, 220, 1);
        box-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
        margin: 0.8vw 0;
    }



    /* fin menu Burger */
    #roc {
        align-items: center;
    }

    /* bouton help */
    /* voir les valeurs pq ils prend les mêmes pour le desktop */

    .rulesActif {
        border: 5px solid black;
        background-color: var(--secondaryColor);
        position: absolute;
        top: 32vh;
        z-index: 1;
        width: 96vw;
        padding: 5vw;
        transition: 0.5s;
        opacity: 1;
    }

    .croix {
        width: 4vw;
        position: absolute;
        margin: -4vw 1vw 0vw 83vw;
    }

}
