@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    /*dark grey*/
    --mainColor: #384454;
    /*light grey*/
    --secondaryColor: #D4D3DC;
    /*GOLD */
    --tertiaryColor: #E1A624;
    /*light blue*/
    --MenuBGColor: #317AC1;
    /* light brown */
    --lightBrown: #AD956B;

}

* {
    font-family: 'Lemon', cursive;
    font-size: 16px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--mainColor);
    min-height: 100vh;
    overflow: hidden;
}

main {
    background: url(./Assets/BackgroundDesktop.png);
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 66vw;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: var(--mainColor);
    display: flex;
    height: 4em;
    border-radius: 20px;
    width: 80%;
    border: solid black;
    align-items: center;
    margin-top: 1.7em;
}

.gameName {
    color: white;
    display: flex;
    font-size: 1em;
    background-color: #D4D3DC;
}

.fondLogo {
    background-color: var(--secondaryColor);
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
    border-radius: 50%;
    height: 6.5em;
    width: 6.5em;
    position: relative;
    right: 1em;
    box-shadow: 0 0 20px black;
}

.Logo {
    height: 6.6em;
    width: 5.5em;
    position: relative;
    left: 1.1em;
    bottom: 0.4em;
}


#help {
    display: flex;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    margin: 3% 3% 8% 3%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.shopNav {
    display: flex;
    height: 100vh;
}

/* SHOP ET STATS STYLE (branche XXX) */

.rightMenu {
    display: flex;
    justify-content: space-around;
    /*    float: right; */
    flex-direction: column;
    width: 33%;
    border: solid 4px black;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--mainColor);
}

.stats {
    height: 33vh;
    background-color: var(--secondaryColor);
    border-radius: 15px;
    margin: 3%;
}

.shop {
    background-color: var(--secondaryColor);
    border-radius: 15px;
    margin: 3%;
}

.gold {
    background-color: var(--mainColor);
    border-radius: 15px;
    margin: 3%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 22px;
    justify-content: space-between;
    color: var(--tertiaryColor);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 20px;
}

#menuButton {
    display: none;
}

.trésor {
    width: 50px;
    height: 50px;
}

h3 {
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    font-size: 20px;
}

h4 {
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    font-size: 20px;
}
ul li{
    font-size: 1.2rem;
    -webkit-text-stroke-color: var(--secondaryColor);
    -webkit-text-stroke-width: 0.5px;
    list-style: none;
}

.item {
    width: 100%;
    height: 100%;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
    background-color: var(--MenuBGColor);
    border-radius: 15px;
    border: 3% 3% 8% 3%;
}

@media screen and (max-width: 390px) {
    * {
        text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
        color: rgba(212, 211, 220, 1);

    }

    body {
        margin: 5px 5px 5px 5px;
        /* background-image: url("./Assets/BackgroundTwo.png"); */
        overflow: hidden;
        min-height: 100vh;
    }

    main {
        min-height: 85vh;
        /* background-color: red; */
        background: url(./Assets/Background.png);
        background-size: cover;
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    nav {
        background-color: rgba(56, 68, 84, 1);

        height: 15vh;
        width: 96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2vw;
        box-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
    }

    #logo {
        width: 20vw;
        border: black 2px solid;
        background-color: rgba(212, 211, 220, 1);
        width: 26vw;
        height: 26vw;
        border-radius: 50%;
    }

    h1 {
        font-size: 6vw;
        text-shadow: 2px 0 0 black, 0 2px 0 black, -2.5px 0 0 black, 0 -2.5px 0 black;

    }



    button {

        background-color: rgba(56, 68, 84, 1);
        border: black 1px solid;
        margin: 8%;
        font-size: 7vw;
        cursor: pointer;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        font-family: 'bodoni';
        box-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
    }

    #menuButton {
        display: flex;
        position: absolute;
        bottom: 80%;
        left: 40%;
        height: 26px;
        width: 20%;
        background-color: var(--secondaryColor);
        border-radius: 8px 8px 0 0;
    }

    .rightMenu {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100vw;
        border: solid 4px black;
        border-radius: 0px 15px 15px 0px;
        background-color: var(--mainColor);
        position: absolute;
        top: 20%;
        left: 0%;
    }

    .stats {
        height: 33vh;
        background-color: var(--secondaryColor);
        border-radius: 15px;
        margin: 3%;
    }

    .shop {
        background-color: red;
        border-radius: 15px 15px 0 0;
        margin: 0;
        height: 33vh;
        display: flex;
        flex-direction: row-reverse;
    }

    .gold {
        background-color: var(--mainColor);
        border-radius: 0 15px 0 0;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        color: var(--tertiaryColor);
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-size: 20px;
    }

    .stats h4,
    #shopTitle {
        display: none;
    }
    h2 img {
        width: 11vh;
    }

    .grid {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 67vw;
        gap: 15px;

    }

    #goldTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.2px;
        color: var(--tertiaryColor);
        background-color: var(--mainColor);
        border-radius: 0 15px 0 0;
        width: 33vw;
    }

    /* menu Burger */
    .sideNav {
        margin-top: 27vw;
        margin-left: 56vw;
        height: 40vw;
        width: 40vw;
        /* right: -60vw; */
        background-color: transparent;
        position: fixed;
        top: 4vw;
        z-index: 2;
        transition: right 0.5s ease;

    }

    .sideNav a {

        padding: 8px 8px 8px 32px;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        transition: 0.3s;
        background-color: rgba(212, 211, 220, 1);
        padding: 0;
        color: #317AC1;
    }

    .sideNav ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: rgba(212, 211, 220, 1);
        box-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
        border-radius: 2vw;
    }

    .sideNav a:hover {
        color: rgba(225, 166, 36, 1);
    }

    .sideNav.active {
        right: 0;
    }

    .sideNav.close {
        position: absolute;
        top: 0;
        right: 5vw;
        font-size: 5vw;
    }

    .burgerIcone span {
        display: block;
        width: 8vw;
        height: 1vw;
        background-color: rgba(212, 211, 220, 1);
        box-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
        margin: 0.8vw 0;
    }



    /* fin menu Burger */
    #roc {
        align-items: center;
    }

}